# ========================
# Секреты и Конфиденциальные данные
# НИКОГДА НЕ ЗАГРУЖАЙТЕ ЭТИ ФАЙЛЫ НА GITHUB!
# ========================
token.txt
cookies.txt

# ========================
# Логи и данные времени выполнения
# Эти файлы генерируются во время работы бота
# ========================
*.log
api_server_files/
bot_api_data/

# ========================
# Кэш Python
# Создается автоматически, не является частью исходного кода
# ========================
__pycache__/
*.pyc

# ========================
# Среда разработки (если используется, например, venv)
# =======================
venv/
.venv/
*.deb
